.navContainer
  float left
  margin 0
  margin-left 25px
  padding 0
  list-style none
  border 1px solid #ccc
  border-right none

.navContainer li
  border-bottom 2px solid black
  width 100px
  line-height 50px

.navContainer li a
  display block
  text-align center
